html {
    color: #00B9FF;
    a {
        text-decoration: none;
        color: #00B9FF;
    }
    a:hover {
        opacity: 0.5;
    }
}

body, html {
     width: 100%;
     height: 100%;
 }

body {
     padding: 0px;
     margin: 0px;
     background-image: url("jarvis_background1.png");

}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */




 .windowStyle {
     border: 1px solid #0071CE;
     background-color: #01284A;
 }

 #mainContainer {
     max-width: 1200px;
     margin: 0 auto;
 }

 #headerContainer {
     height: 100px;
     margin-top: 10px;
     position: relative;
 }

 #logo {
     font-size: 40px;
     font-weight: bold;
     font-family: sans-serif;
     position: absolute;
     top: 40px;
     left: 20px;
 }

 #loginButton {
     position: absolute;
     right: 20px;
     top: 5px;
     font-size: 14px;
     font-weight: bold;
 }

 #changedContent {
     background-color: #000E1A;
     overflow: hidden;
     min-height: 600px;
 }

 #bodyContainer {
    margin-top: 5px;
    padding: 10px;
 }

 .borderRed {
     border: 2px solid red
 }

 .errorMessage {
     color: red;
     font-weight: bold;
     height: 20px;
 }

#raemos_popups {
    display: none;
}

.dioBackgroundOverlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.9;
}

.dioPopup {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;

    .closePopupBtn {
        position: absolute;
        right: 5px;
        border: 1px solid;
        padding: 0px 3px 2px 3px;
        top: 5px;
        cursor: pointer;
        opacity: 0.7;
    }

    .closePopupBtn:hover {
        opacity: 1;
    }

    input:not([type='checkbox']), button {
        border-radius: 5px;
        height: 30px;
        width: 230px;
        margin: 0 10px 10px 10px;
        padding-right: 10px;    
    }


}



#authorized_user_body {
    text-align: center;

    #userProfileContent {
        float: right;
        margin: 50px 50px 0px 0px;
        width: 280px;
        padding: 10px;
        text-align: left;

        #imgContainer {
            float: left;
        }

        #profileInfo {
            float: left;
            margin-left: 10px;
        }

        #profileInfo div {
            width: 170px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        img {
            width: 100px;
        }

        #editUserLinkContainer{
            text-align: right;
            font-size: 13px;
        }
    }

    #userActionsContainer {
        float: left;
        margin: 50px 0px 0px 50px;
        width: 300px;
    }

    #bodyContainer {
        text-align: left;
        margin: 0px 360px 0px 360px;
        padding-top: 50px;

        table td, table th {
            border: 1px solid #0071CE;
        }

        table {
            width: 100%;
            border: 1px solid #0071CE;
        }
    }   
}

.inputDesign {
    input:not([type='checkbox']), button {
        border-radius: 5px;
        height: 30px;
        width: 230px;
        margin: 0 10px 10px 10px;
        padding-right: 10px;    
    }
}

.direction_asc, .direction_desc {
    display: none;
    float: right;
}

#table_sortable_asc, #table_sortable_desc {
    th a {
        float: left;
    }
}

#table_sortable_asc .direction_asc {
    display: block;
}

#table_sortable_desc .direction_desc {
    display: block;
}
