// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#signInForm {
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    border-radius: 7px;
    padding: 10px;

    input {
        border-radius: 5px;
        height: 30px;
        width: 230px;
        margin-bottom: 10px;
        padding-left: 10px;
    }
}