<table id="table_sortable_<%=@direction%>">
	<tr>
      <th>
        <%= link_to "First name", list_admin_path(:column => "first_name", direction: @direction ), onclick: "$.getScript(this.href); return false" %>
        <% if @sort_column == "first_name"%>
          <span class="direction_asc"><</span>
          <span class="direction_desc">></span>
        <%end%>
      </th>
      <th>
        <%= link_to "Last name", list_admin_path(:column => "last_name", direction: @direction), onclick: "$.getScript(this.href); return false" %>
        <% if @sort_column == "last_name"%>
          <span class="direction_asc"><</span>
          <span class="direction_desc">></span>
        <%end%>
      </th>
      <th>
        <%= link_to "Email", list_admin_path(:column => "email", direction: @direction), onclick: "$.getScript(this.href); return false" %>
        <% if @sort_column == "email"%>
          <span class="direction_asc"><</span>
          <span class="direction_desc">></span>
        <%end%>
      </th>
      <th>Action</th>
    </tr>
	<%@admins.each do |admin| %>
		<% if admin.id != session[:user_id] %>
			<tr>
				<td>
					<%=admin.first_name%>
				</td>
				<td>
					<%=admin.last_name%>
				</td>
				<td>
					<%=admin.email%>
				</td>
				<td>
					<%= link_to 'Delete', destroy_admin_path(admin.id), class: "delete_admin", method: "delete" %>,
					<%=link_to "Reset password", reset_password_admin_path(admin.id), method: "post", remote: true%>
				</td>
			</tr>
		<%end%>
	<%end%>
</table>