<div class="inputDesign">
  <%= form_for @admin, form_options  do |f| %>
    <% if @admin.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

        <ul>
        <% @admin.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.text_field :first_name, {placeholder: "First name"} %>
    </div>
    <div class="field">
      <%= f.text_field :last_name, {placeholder: "Last name"} %>
    </div>
    <div class="field">
      <%= f.text_field :email, {placeholder: "Email"} %>
    </div>
    <div class="field">
      <%= f.password_field :password, {placeholder: "Password"} %> 
    </div>

    <% if isCreate %>
      <div class="field">
        <%= check_box_tag "isSuper"%> - Is super admin
      </div>
    <%end%> 
    
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>