<table id="table_sortable_<%=@direction%>">
    <tr>
      <th>
        <%= link_to "First name", users_admin_path(:column => "first_name", direction: @direction ), onclick: "$.getScript(this.href); return false" %>
        <% if @sort_column == "first_name"%>
          <span class="direction_asc"><</span>
          <span class="direction_desc">></span>
        <%end%>
      </th>
      <th>
        <%= link_to "Last name", users_admin_path(:column => "last_name", direction: @direction), onclick: "$.getScript(this.href); return false" %>
        <% if @sort_column == "last_name"%>
          <span class="direction_asc"><</span>
          <span class="direction_desc">></span>
        <%end%>
      </th>
      <th>
        <%= link_to "Email", users_admin_path(:column => "email", direction: @direction), onclick: "$.getScript(this.href); return false" %>
        <% if @sort_column == "email"%>
          <span class="direction_asc"><</span>
          <span class="direction_desc">></span>
        <%end%>
      </th>
      <th>Action</th>
    </tr>


    <% @users.each do |user| %>
      <tr id="user_<%=user.id%>">

        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>

        <td>
          <%= link_to 'Destroy', destroy_user_path(user.id), class: "delete_user", method: :delete, data: { confirm: 'Are you sure?'} %>
        </td>

      </tr>
    <% end %>
  </table>