<h1>Editing admin</h1>
<%= render partial: 'form', locals: {isCreate: false, form_options: {url: admins_path, method: "PUT"}} %>

<%= link_to 'Show', show_admins_path %> |
<%= link_to 'Back', admin_path %>
