<div class="windowStyle" id="authorizeForm">
    <span>Log in</span>
    <br/><br/>

    <%= form_tag authorize_admins_path do%>
    
    <div class="inputContainer">
    	<%= text_field_tag :email, params[:email], {placeholder: "Email"} %>
    </div>
	<div class="inputContainer">
    	<%= password_field_tag :password, nil, {placeholder: "Password"} %>
    </div>		
    
    <div class="inputContainer">
    	<%= submit_tag "Log in" %>
    </div>

    <div class="errorMessage"></div>
    

    <%end%>

    <%= link_to "Back", admin_path %>    
</div>