<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @admin.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @admin.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @admin.email %>
</p>


<%= link_to 'Edit', edit_admin_path %> |
<%= link_to 'Back', admins_path %>
