<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= current_user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= current_user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= current_user.email %>
</p>


<%= link_to 'Back', user_path %>
