<div class="windowStyle" id="signInForm">
    <span>Log in</span>
    <br/><br/>

    <%= text_field_tag :email, params[:email], {placeholder: "Email"} %>
    <br/>
    <%= password_field_tag :password, nil, {placeholder: "Password"} %>
    <br/>
    <input type="button" id="logged_in" onclick="authorizeUser()" value="Sign in"/>
    <br/>





    <%= link_to 'Register new user' %>
</div>