$('#error_explanation').html("")
<% if !@errors.empty? %>
	<%@errors.each do |error|%>
		var divError = $('<div>').text("<%=error%>");
		$('#error_explanation').append(divError)
	<%end%>
<%else%>
	$("#profile_first_name").text("<%=@user.first_name%>")
	$("#profile_last_name").text("<%=@user.last_name%>")
	$("#profile_email").text("<%=@user.email%>")
	hideDioPopups()
<%end%>