<div class="windowStyle" id="signInForm">
    <%= text_field_tag :username, current_user.username, {placeholder:"Username"} %>
    <%= text_field_tag :first_name,  current_user.first_name, {placeholder:"First name"} %>
    <%= text_field_tag :last_name, current_user.last_name, {placeholder:"Last name"} %>
    <%= text_field_tag :email, current_user.email, {placeholder:"email"} %>
    <%= password_field_tag :password, nil, { placeholder:"Password"} %>
    <%= password_field_tag :new_password, nil, { placeholder:"New password"} %>
    <%= password_field_tag :confirm_password, nil, { placeholder:"Confirm new password"} %>
    <div id="errorMessage"></div><br>
    <input type="button" value="Save" onclick="saveUserData()"/>
</div>
