<%= form_for current_user, remote: true do |f| %>
  

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :new_password %><br />
    <%= password_field_tag :new_password %>
  </div>

  <div class="field">
    <%= label_tag :new_password_confirmation %><br />
    <%= password_field_tag :new_password_confirmation%>
  </div>


  <div id="error_explanation">
    
  </div>
  


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
