<div id="authorizeForm">
    <span>Log in</span>
    <br/><br/>
    
    <div class="inputContainer">
    	<%= text_field_tag :authorize_email_field, params[:email], {placeholder: "Email"} %>
    </div>
	<div class="inputContainer">
    	<%= password_field_tag :authorize_password_field, nil, {placeholder: "Password"} %>
    </div>		
    
    <div class="inputContainer">
        <label>
            <%= check_box_tag "is_admin"%> 
            <span>
                - Login by admin
            </span>
        </label>
    </div>

    <div class="inputContainer">
    	<%= button_tag "Log in", {id: "authorize_btn", authorize_path: authorize_path,:onclick=>"authorizeUser()"} %>
    </div>

    <div class="errorMessage"></div>
    
    <%= link_to "Register new user", "#", {:onclick => "showRegistrationPopup()"} %>

    
</div>