<div class="windowStyle" id="registrationForm">
    <span>Registration new user</span>

    <div class="inputContainer">
    	<%= text_field_tag :reg_first_name, nil, {placeholder: "First name"}%>
	</div>
    <div class="inputContainer">
    	<%= text_field_tag :reg_last_name, nil, {placeholder: "Last name"}%>
    </div>
    <div class="inputContainer">
    	<%= text_field_tag :reg_email, nil, {placeholder: "Email"}%>
    </div>	
    <div class="inputContainer">
    	<%= password_field_tag :reg_password, nil, {placeholder: "Password"}%>
    </div>	
    <div class="inputContainer">
    	<%= password_field_tag :reg_confirm_password, nil, {placeholder: "Confirm password"}%>
   	</div>		
	<div class="inputContainer">
    	<%= button_tag "Sign up", {href: create_user_path, onclick: "registerNewUser(this)"} %>
    </div>
    <div class="errorMessage"></div>

	<%= link_to "I already have account", "#", {onclick: "showAuthenicatePopup()"} %>
</div>