body, html {
    width: 100%;
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    background-image: url("jarvis_background1.png");
    color: #00B9FF;

    a {
        text-decoration: none;
        color: #00B9FF;
    }

    a:hover {
        opacity: 0.5;
    }
}

.windowStyle {
    border: 1px solid #0071CE;
    background-color: #01284A;
}

#mainContainer {
    max-width: 1200px;
    margin: 0 auto;
}

#headerContainer {
    height: 100px;
    margin-top: 10px;
    position: relative;
}

#logo {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    position: absolute;
    top: 40px;
    left: 20px;
}

#loginButton {
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 14px;
    font-weight: bold;
}

#changedContent {
    background-color: #000E1A;
    overflow: hidden;
    min-height: 600px;
}

#bodyContainer {
   margin-top: 5px;
   padding: 10px;
}

.borderRed {
    border: 2px solid red
}

#errorMessage {
    color: red;
    font-weight: bold;
    height: 20px;
}