// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#errorMessage {
    color: red;
    font-weight: bold;
    height: 20px;
}