<!DOCTYPE html>
<html>
<head>
  <title>Nigthdev</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link data-turbolinks-track="true" href="/assets/account.css" media="all" rel="stylesheet" />
</head>
<body>
    <div id="mainContainer">
        <div id="headerContainer" class="windowStyle">
            <div id="logo">
                <%= link_to 'NigthDev', root_path %>
            </div>
            <div id="loginButton">
                <% if current_user%>
                    <div id="userName">
                        Hello: <%= link_to "#{current_user.username}", users_edit_path %>
                    </div>
                    <%= link_to 'Log out', log_out_path %>
                <% else %>
                    <%= link_to 'Log in', sign_in_path %>

                <% end %>
            </div>
        </div>

        <div id="bodyContainer" class="windowStyle">
            <div id="changedContent">
                <%= yield %>
            </div>
        </div>
    </div>

</body>
</html>
