<!DOCTYPE html>
<html>
<head>
  <title>Raemos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body>

      <div id="mainContainer">
          <div id="headerContainer" class="windowStyle">
              <div id="logo">
                  <%= link_to 'Raemos', root_path %>
              </div>            
              <div id="loginButton">
                  <%= link_to 'Log in', "#", id: "loginLink", onclick: "showAuthenicatePopup()" %>
              </div>
          </div>

          <div id="bodyContainer" class="windowStyle">
              <div id="changedContent">
                  <%= yield %>
              </div>
          </div>
      </div>


     

      <div class="dioBackgroundOverlay">
        
        <div class="windowStyle dioPopup" id="signinPopup">
          <div class="closePopupBtn">x</div>
          <%= render :partial => "popups/login_form" %>
        </div>


        <div class="windowStyle dioPopup" id="registrationPopup">
          <div class="closePopupBtn">x</div>
          <%= render :partial => "popups/registration_form" %>
        </div>

      </div>
        




  </body>
</html>
