<!DOCTYPE html>
<html>
<head>
  <title>Raemos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="authorized_user_body">

    <div id="userProfileContent" class="windowStyle">
      <div id="profileContailner">
        <div id="imgContainer">
          <%=image_tag("default_user.jpg")%>
        </div>
        <div id="profileInfo">
          <div id="editUserLinkContainer"> 
            <%=link_to "Edit", "#", onclick: "showEditUserPopup()"%>
          </div>
          <div>
            Name: <span id="profile_first_name"><%=current_user.first_name%></span>
          </div>
          <div>
            Surname: <span id="profile_last_name"><%=current_user.last_name%></span>
          </div>
          <div>
            Email: <span id="profile_email"><%=current_user.email%></span>
          </div>

        </div>
      </div>
    </div>

    <div id="userActionsContainer" class="windowStyle">
      <div>
        User actions:
      </div>
      <hr>
      <%= link_to 'log out ', logout_path%><br>
      <%if can? :read, Admin %>
        <%= link_to 'Show all users', users_admin_path %><br>


        <%if can? :show_admins, Admin%>
          <%= link_to 'Show all admins', list_admin_path %><br>
          <%= link_to 'Register new admin', new_admin_path %>
        <%end%>
        
      <%else%>
        
      <%end%>
    </div>

    <div id="bodyContainer" class="windowStyle">
        <div id="changedContent">
            <%= yield %>
        </div>
    </div>


   

    <div class="dioBackgroundOverlay">
      
      <div class="windowStyle dioPopup" id="signinPopup">
        <div class="closePopupBtn">x</div>
        <%= render :partial => "popups/login_form" %>
      </div>


      <div class="windowStyle dioPopup" id="registrationPopup">
        <div class="closePopupBtn">x</div>
        <%= render :partial => "popups/registration_form" %>
      </div>


      <div class="windowStyle dioPopup" id="editUserPopup">
        <div class="closePopupBtn">x</div>
        <%= render :partial => "popups/edit_form" %>
      </div>
    </div>
    
</body>
</html>
