<div class="windowStyle" id="signInForm">
    <span>Log in</span>
    <br/><br/>
    <%= form_tag logging_user_path do%>
        <%= text_field_tag :email, params[:email], {placeholder: "Email"} %>
        <%= password_field_tag :password, nil, {placeholder: "Password"} %>
        <%= submit_tag "Log in" %>
    <%end%>

    <%= link_to 'Register new user', sign_up_path %>
</div>