<div class="windowStyle" id="signInForm">
    <%= form_for :user, url: account_create_path do |f|%>
        <%= f.text_field :username, {value: params[:username], placeholder:"Username"} %>
        <%= f.text_field :first_name, {value: params[:first_name], placeholder:"First name"} %>
        <%= f.text_field :last_name, {value: params[:last_name], placeholder:"Last name"} %>
        <%= f.text_field :email, {value: params[:email], placeholder:"email"} %>
        <%= f.password_field :password, { placeholder:"Password"} %>
        <%= submit_tag 'Register new user'%>
    <% end %>
    <%= link_to 'I already have account', sign_in_path %>

</div>